<header>
  <span class="material-icons left-icons">{{ icon }}</span>
  <span class="material-icons left-icons">task</span>
  <span class="material-icons left-icons">folder</span>
  <span class="material-icons left-icons">arrow_drop_down</span>

  <span id="title"> {{ title }} </span>
  <span class="material-icons right-icons" id="close">close</span>
  <span class="material-icons right-icons highlightable">web_asset</span>
  <span class="material-icons right-icons highlightable">minimize</span>
</header>
<app-toolbar-nav></app-toolbar-nav>
<app-toolbar></app-toolbar>

