<div id="navigation" class="flex-container">
  <span class="material-icons flex-item">arrow_back</span>
  <span class="material-icons flex-item">arrow_forward</span>
  <span class="material-icons flex-item">keyboard_arrow_down</span>
  <span class="material-icons flex-item button">arrow_upward</span>
  <span id="path" class="flex-item flex-container">
    <span class="flex-item flex-container">
      <span class="material-icons flex-item">{{currentTabIcon}}</span>
      <span class="material-icons flex-item button">keyboard_arrow_right</span>
      <span class="flex-item button">{{currentTabName}}</span>
    </span>
    <span class="flex-item flex-container">
      <span class="material-icons flex-item">keyboard_arrow_down</span>
      <span class="material-icons flex-item">refresh</span>
    </span>
  </span>
  <app-search-bar id="search" class="flex-item "></app-search-bar>
</div>
